* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
	border: 0px;
	background-color: transparent;
}

#container {
  position: relative;
}

#overlay {
  color: #fff;
  left: 0px;
  top: 0px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}