#fps-container {
	position: absolute;
	top: 10px;
	left: 10px;
	color: green;
	font-size: 20px;
}

#overlay {
	opacity: 0.0;
	background-color: #010101;
	color: #816c80;
	text-shadow: #1e161e 1px 0 10px;
	left: 0px;
	top: 0px;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	font-size: 48pt;
	font-family: 'Courier New', Courier, monospace;
	padding-bottom: 4vh;
}

#status-bar {
	padding-top: 1vh;
}

.progress-bar {
	width: 65%;
	height: fit-content;
	background-color: #16161d;
	border-radius: 25px;
	padding: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
}

.progress {
	height: 15px;
	width: 0%; /* Set progress percentage here */
	background-color: #816c80;
	border-radius: 20px;
	text-align: center;
	line-height: 30px;
	color: white;
	font-weight: bold;
}
